body {
  background-color: #1d2026;
  font-family: 'Cabin', sans-serif;
}

.Header {
  background-color: #282c34;
  color: #dbd9e2;
  padding: 1%;
  border-bottom: 8px groove white;
}

h1 {
  border-style: groove;
  padding: 1%;
  background-color: #2a2834;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container {
  text-align: center;
  border-radius: 5px;
  width: 50%;
  position: relative;
  left: 25%;
  margin: 2% 0 2% 0;
  background-color: #474f5e;
  padding: 2% 0 2% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-login {
  margin: 10% 0 2% 0;
}

.form-inpt {
  margin: 0 0 4% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-lbl {
  color: #dbd9e2;
  font-size: 18px;
}

.form-btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  border-color: #363342;
  padding: 1% 2%;
  font-size: 18px;
}

.msg-register {
  color: #1d2026;
  font-weight: bold;
}

.link-register {
  color: #dbd9e2;
}

.Footer {
  text-align: center;
  background-color: #282c34;
  color: #dbd9e2;
  padding: 1%;
  border-bottom: 8px groove white;
}

